form {
    border: 1px solid rgb(46, 44, 44);
    width: 300px;
    height: 450px;
    background-color: rgba(189, 182, 182, 0.322);
    margin: 75px 550px;
    border-radius: 10px;
}

.input-1 {
    margin-left: 14px;
    margin-bottom: 16px;
}

label {
    margin-left: 0px;
}

.box {
    position: relative;
    margin-left: 20px !important;
    margin-bottom: 10px;
}

.box-head {
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}

.form1 {
    text-align: float;
    border: 1px solid black;
    margin: auto;
    width: 200px;
    height: 400px;
    background-color: azure;
}

h4 {
    margin: 27px 1px -11px 7px;
}

.submi-2 {
    text-align: center;
}

.botoes {
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color: rgb(93, 93, 180);
    padding: 6px 21px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f00;
}

body {
    background-image:url(https://images4.alphacoders.com/279/thumb-1920-279264.jpg);                               /*linear-gradient(45deg, rgba(1, 1, 107, 0.849), red);*/
    color: white;
}