form {
    border: 1px solid rgb(46, 44, 44);
    width: 320px;
    height: 520px;
    background-color: rgba(255, 1, 1, 0.541);
    margin: 75px 550px;
    border-radius: 10px;
}

.input-1 {
    margin-left: 14px;
    margin-bottom: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

label {
    margin-left: 0px;
}

.box {
    position: relative;
    margin-left: 20px !important;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: 500;
   
}

.box-head {
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
   
}

.form1 {
    text-align: float;
    border: 1px solid black;
    margin: auto;
    width: 200px;
    height: 400px;
    background-color: azure;
}

h4 {
    margin: 27px 1px -11px 7px;
}

.submi-2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.botoes {
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 159, 204);
    padding: 6px 21px;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

a:hover {
    text-decoration: underline;
    color: #f00;
}

body {
    background-image: url(https://images4.alphacoders.com/279/thumb-1920-279264.jpg);
    /*linear-gradient(45deg, rgba(1, 1, 107, 0.849), red);*/
    color: white;
}
.caixas{
    border-radius: 5px;
    width: 270px;
}
.caixas-select{
    border-radius: 5px;
    width: 170px;
}